@import "styles/variables";

.box {
  border: 3px solid $dark-lime;
  border-radius: 20px;
  background-color: white;

  .header {
    background-color: $light-lime;
    border: 1px solid $dark-lime;
    border-top: none;
    border-radius: 15px;
    height: 35px;
    padding-left: 20px;
    font-weight: bold;

    img {
      width: 30px;
      margin-right: 10px;
    }

    &.dark-lime {
      background-color: #cde391;
    }
  }

  .body {
    border-radius: 20px;

    &.light-lime {
      background-color: #f2f2f2;
    }
  }
}
