$hot-color: #0079c2;
$dark-lime: #a6ce39;
$light-lime: #ebf1df;
$light-red: #f2dcda;
$dark-gray: #7f7f7f;
$light-gray: #f2f2f2;
$activeButtonBackground: #cde391;

$appWidth: 910px;
$appHeight: 594px;

$topBarHeight: 52px;
$sideBarWidth: 96px;
