@import "styles/variables";

.filters {
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 40px;
  background-color: #e0e3d7;

  select {
    max-width: 200px;
    color: $hot-color;
    font-weight: bold;
    background-color: $light-lime;
    border: 2px solid $dark-lime;
    border-radius: 10px;
    padding: 0.2em 3.5em 0.2em 1em;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(0.7em + 2px),
      calc(100% - 15px) calc(0.7em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    margin: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .buttons {
    float: right;
    button {
      padding-left: 10px;
      padding-right: 10px;
      &:first-child {
        margin-right: 10px;
      }
    }
    img {
      max-width: 35px;
    }
  }
}

.meetings-list {
  padding: 0 30px;
  li {
    list-style: none;
    background-color: $light-gray;
    border: 1px solid $dark-lime;
    border-bottom: none;
    padding: 5px 20px;
    &:last-child {
      border-bottom: 1px solid $dark-lime;
    }
    &:nth-child(even) {
      background-color: $light-lime;
    }
    img {
      max-width: 35px;
      margin-right: 20px;
    }
    div {
      display: inline-block;
    }
    .meeting-title {
      width: 190px;
      vertical-align: middle;
      font-weight: bold;
      color: $hot-color;
      cursor: pointer;
    }
    .date {
      font-weight: bold;
      width: 130px;
    }
    .time-location {
      width: 240px;
    }
    .download {
      margin: 0;
      cursor: pointer;
    }

    .body,
    .body div {
      display: block;
    }

    .duration {
      font-style: italic;
    }
    .buttons {
      width: 250px;
      margin: 0 auto;
    }
  }
  .buttons.buttons {
    width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .body .small-btn:first-child {
    margin-right: 40px;
  }
}
